MONGODB_URI=mongodb://mongo:27017/sistema-gaza
JWT_SECRET=define_un_secreto_muy_seguro
JWT_EXPIRES_IN=1d
CORS_ORIGIN=*
SYSCOM_API_URL=https://developers.syscom.mx/api/v1
SYSCOM_CLIENT_ID=tu_client_id
SYSCOM_API_KEY=tu_api_key
SYSCOM_DEFAULT_QUERY=camara
